<div class="consent-container">
    <div class="consent-form">
        <mat-checkbox class="custom-checkbox" color="primary">
            By checking this box, I confirm that I have read and acknowledged the <a
                href="your-link-to-privacy-policy">Privacy Notice</a> of Carebox.
        </mat-checkbox>
        <button mat-button class="consent-button">
            Start questionnaire
            <mat-icon class="consent-button-icon"> chevron_right </mat-icon>
        </button>
    </div>
    <div class="consent-info">
        <p>Please note: Select the Location & Language, on the upper-right of the Carebox Privacy Policy page in the
            link at left, in accordance with your geography to display the applicable privacy notice.</p>
        <p>HCP information will only be used for the purposes of being contacted regarding being a potential
            Investigator in a clinical trial.</p>
    </div>
</div>