<mat-toolbar>
  <mat-toolbar-row>
    <div class="logo">
      <img width="184px" height="33px" src="./../../../assets/logoColored.svg" alt="Logo">

    </div>
    <span class="example-spacer"></span>
    <div class="navigation">
      <!-- Add navigation links here -->
    </div>

    <mat-icon matBadge="15" matBadgeColor="warn">mail</mat-icon>


    <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>