@import './../../../assets/_mixins';
@import './../../../assets/variables';

// Component styles
.custom-toolbar {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  padding: 0 100px;
  height: 89px;
  .logo img {
    width: 184px;
      height: 33px;
      background-size: contain;
      background-repeat: no-repeat;
    }
    
    .actions {
    display: flex;
    align-items: center;
@media (max-width: breakpoint('mobile')) {
    display: none;

  }
    button {
      margin-left: 16px;
      }
      }

    .example-spacer {
      flex: 1 1 auto;
    }
}