@import './../../../assets/_mixins';
@import './../../../assets/_variables';

// Component styles
header {
  mat-toolbar {
    background: $theme-surface;
    height: 89px;
    padding-left: 100px;
    padding-right: 100px;

    .logo img {
      background-image: url('./../../../assets/logoColored.svg'); // Update path accordingly
      width: 184px;
      height: 33px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    .spacer {
      flex: 1 1 auto;
    }

        .actions {
      display: flex;
      align-items: center;

      @media (min-width: breakpoint('desktop')) {
          display: block;
        }
      
        @media (max-width: breakpoint('mobile')) {
          display: none;
        }
      button {
        margin-left: 16px;
      }
    }
  }
}

.example-spacer {
  flex: 1 1 auto;
}