<div class="hero">
    <img src="./../../../assets/Image.png" alt="Background" class="hero-background">
    <div class="hero-content">
        <h1>Would you like to conduct clinical trials with Carebox?</h1>
        <img src="./../../../assets/Image.png" alt="Background" class="hero-img">

        <div class="content-p">
            <p>
                To strengthen and expand our clinical research, Carebox is currently looking for partners to conduct
                Phase 1
                - 4 clinical trials in various indications. We are looking for Healthcare Professionals with all levels
                of
                experience either with an established clinical research centre or interested in setting up a clinical
                research centre. In addition, we are looking for Healthcare Professionals who wish to refer patients to
                a
                clinical trial site.
            </p>
            <p>
                If you are interested in becoming an investigator within an Carebox sponsored clinical trial or have an
                interest in referring patients to one of Carebox's trial sites, please fill out the questionnaire below.
                It
                will only take a few minutes.
            </p>
            <p>
                We will review your answers and respond to you shortly.
            </p>
            <p>
                AstraZeneca Site Development Task Force
            </p>
        </div>

    </div>

</div>