 $theme-primary: #830051;
 $theme-secondary: #013865;
 $theme-surface: #fff;
 $theme-border: #9EB0AC;
 $theme-background: #fafafa;
 $theme-footer-background: #1B1B1B;
 $theme-text-dark: #3c4242;
 $theme-text-light: #fff;

 $theme-text-primary: $theme-primary;
 $theme-text-secondary: $theme-secondary;