<footer class="footer">
    <div class="footer-section footer-logo">
        <p>Initiated and fully funded by Carebox. © 2023 Carebox. All Rights Reserved. This information is intended for
            healthcare professionals only.</p>
        <p><i class="logo-symbol"><img src="./../../../assets/logoWhite.svg" /></i></p>
    </div>
    <div class="footer-section footer-legal">
        <p>VPM ID: xxx | Date of preparation: xxx | Prohibited for distribution/display to the public.</p>
        <p>PIA-10403</p>
    </div>
    <div class="footer-nav">
        <a href="#" class="nav-item">Cookie Settings</a>
        <a href="#" class="nav-item">Legal Notice</a>
        <a href="#" class="nav-item">Privacy Notice</a>
        <a href="#" class="nav-item">Contact Us</a>
        <a href="#" class="nav-item">Your Privacy Choices</a>
    </div>

</footer>