@import './../../../assets/_mixins';
@import './../../../assets/_variables';

.footer {
    display: flex;

    align-items: center;
    text-align: left;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2.31rem;
    background-color: $theme-footer-background;
    color: $theme-text-light;
    @media (max-width: breakpoint('desktop')) {
            padding: 1rem 2.88rem;
            flex-direction: row;
        }
    @media (max-width: breakpoint('mobile')) {
            padding: 1rem 1.75rem;
            flex-direction: column;
        }
    .footer-logo,
    .footer-legal,
                .footer-nav {
    @media (min-width: breakpoint('desktop')) {
            width: 33.33%;
            padding: 1rem 3.69rem;
            align-items: center;
                height: 9.25rem;
        }

        @media (max-width: breakpoint('mobile')) {
            padding: 1rem;
            width: 100%;
        
                height: 8rem;
        }
}
}
.footer-legal {
    @media (min-width: breakpoint('desktop')) {}

    @media (max-width: breakpoint('mobile')) {
        order: 1;
    }

}

.footer-section {
    @media (min-width: breakpoint('desktop')) {
            border-right: 1px solid $theme-border;
            }

@media (max-width: breakpoint('mobile')) {
            border-right: none;
            }
            }
            
            .footer-logo {
                @media (max-width: breakpoint('desktop')) {
                        padding: 1rem;
                        width: 100%;
                
                    }
                @media (max-width: breakpoint('mobile')) {
                    padding: 1rem;
                    width: 100%;
            order: 3;
            }
            }

    .footer-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: flex-start;
        align-items: center;
        color: $theme-text-light;
            margin: 4px;
        
            .nav-item {
                    color: $theme-text-light;
            
                    &:hover {
                        color: $theme-border;
                    }
                }
        @media (max-width: breakpoint('mobile')) {
            padding: 1rem;
            margin: 0.25rem;
                width: 95%;
                order: 2;
            border-top: 1px solid $theme-border;
                border-bottom: 1px solid $theme-border;
            
}
}

